<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Evaluador ambiental</h1>
    <form method="post">
        <label for="bottles">Botellas plásticas por semana:</label><br>
        <input type="number" id="bottles" name="bottles" required>

        <label for="shower">Cuantos minutos duras en la ducha:</label><br>
        <input type="number" id="shower" name="shower" required>

        <label for="recycle">¿Reciclas?</label><br>
        <select id="recycle" name="recycle">
        <option value="si">Sí</option>
        <option value="no">No</option>
        </select>

        <label for="transport">¿Que transporte usas?</label><br>
        <select id="transport" name="transport">
        <option value="caminar">caminar</option>
        <option value="bicicleta">bicicleta</option>
        <option value="bus">bus</option>
        <option value="carro">carro</option>
        </select>

        <label for="computer">¿Cuanto tiempo usas el computador?</label><br>
        <select id="computer" name="computer">
        <option value="menos3">Menos de 3 horas</option>
        <option value="menos5">Menos de 5 horas</option>
        <option value="menos10">Menos de 10 horas</option>
        </select>

         <label for="appliances">¿Cuantos electrodomesticos tienes en casa?</label><br>
        <select id="appliances" name="appliances">
        <option value="menos4">Menos de 4 electrodomesticos</option>
        <option value="menos8">Menos de 8 electrodomesticos>
        <option value="menos12">Menos de 12 electordomesticos</option>
        </select>

        <label for="lights">¿Dejas luces encendidas?</label><br>
        <select id="lights" name="lights">
        <option value="no">No</option>
        <option value="si">Sí</option>
        </select>
        <br><br>


    </form>
</body>
</html>