<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro - EcoApp</title>
    <link rel="stylesheet" href="../statics/styles/styles.css">
</head>
<body>

    <h1>🌿 EcoVida - Registro</h1>
    <p>Crea tu cuenta y ayuda al planeta</p>

    <form action="#" method="post">

        <label for="nombre">Nombre completo:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="correo">Correo electrónico:</label><br>
        <input type="email" id="correo" name="correo" required><br><br>

        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password" required minlength="6"><br><br>

        

        <label>
            <input type="checkbox" required>
            Acepto los términos y condiciones ecológicos 🌱
        </label><br><br>

        <button type="submit">Crear Cuenta</button>

    </form>

</body>
</html>
